<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PromeriApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lgnavbar-dark bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="https://cdn-icons-png.flaticon.com/512/3388/3388607.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            <strong>MEMO</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/create">Crea</a>
            </li>
          </ul>
        </div>
      </nav>

      <form method="POST" class="m-5">
        <div class="form-group">
            <label for="titolo">Titolo</label>
            <input type="text" name="titolo" placeholder="Inserisci un titolo del promemoria" class="form-control" value="{{ request.form['titolo'] }}" required> </input>
        </div>
        <div class="form-group">
            <label for="info">Info</label>
            <textarea name="info" placeholder="Scrivi dettagli del prmoemoria" class="form-control">{{ request.form['info'] }}</textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Crea il tuo Post!</button>
      </form>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>